*{
	box-sizing: border-box;
}
body{
	background-image: url("icons/background.gif");
	font-family: Arial, Helvetica;
	margin: 0;
}
.header{
	background-color: #002080;
	text-align: center;
}
.header img{
	width:60px;
	position:relative;
	top:10px;
	border-radius: 50%;
}
.header h1{
	font-size: 50px;
	color:white;
	display:inline;
}
.header h1:hover{
	color:black
}
.header h5{
	font-size: 80%;
	color:#ffffe6;
	display:inline;
}
.header h3{
	color:white;
	position:relative;
	bottom:10px;
	right:7px;
}
.row1{
	background-color: white;
	color: black;
	text-align: center;
	width:670px;
	margin: auto;
	border-radius:25px;
	box-shadow:1px 1px 1px white;
}
a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}
.row2{
	background-color: white;
	color: black;
	text-align: center;
	width:270px;
	margin: auto;
	border-radius:25px;
	box-shadow:1px 1px 1px white;
}

.row3{
	padding: 20px;
	margin: auto;
	width:430px;
	height:250px;
	text-align: center;
	background-color: #006699;
	border-radius:25px;
	box-shadow:0px 3px 12px white;
}
.row3 div{
	padding:10px;
	border-style: solid;
	flex:33%;
}
input[type=text]{
	margin: 8px 0;
	border: 2px solid red;
	border-radius: 4px;
}
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.row3 input[type=submit] {
	width: 40%;
	background-color: #ff0000;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.row3 input[type=submit]:hover {
	background-color: #e60000;
}
.row4{
	background-color: white;
	display:flex;
	padding: 20px;
	margin: auto;
	width:600px;
	height:350px;
	text-align: center;
}
.row4 div{
	padding:10px;
	border-style: solid;
	flex:33%;
}
.row4 h4{
	color: black;
	text-align: center;
}
.row4 img{
	height:120px;
}
.row4 a
{
	color:black;
}
a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}
.row5{
	background-color: white;
	display:flex;
	padding: 20px;
	margin: auto;
	width:600px;
	height:300px;
	text-align: center;
}
.row5 div{
	padding:10px;
	border-style: solid;
	flex:33%;
}
.row5 h4{
	color: black;
	text-align: center;
}
.footer{
	position:relative;
	top:420px;
	background-color: black;
	padding: 30px;
	text-align: center;
	color:white;
}